<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

  
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <div align="center"><img src="{{site.image.path}}" width="120" height="120"/></div>
        <ul class="contact-list">
          <li></li>
          <!--li class="p-name">
            
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li></li>
            {%- endif -%}
          -->
          
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-2">
        Contact me at: <br/> 
        <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
        <!--p>{{- site.description | escape -}}</p-->
      </div>
    </div>

  </div>

</footer>
